<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup>
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  
    <connectionStrings>
      <add name="sqlsvr" connectionString="Data Source= DESKTOP-7DM4HJ3;Persist Security Info=True;User ID = sa;Password = manager"
        providerName="System.Data.SqlClient" />
      <add name="POSレジ_チュートリアル_.Properties.Settings.POSDBConnectionString"
        connectionString="Data Source=DESKTOP-7DM4HJ3;Initial Catalog=POSDB;Integrated Security=True"
        providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>